.container {
    max-width: 70%;
}

.navbar-nav {
    font-size: 150%;
}

.card {
    min-height: 250px;
}

@media print {
  h2, h3 {
    page-break-before: always;
  }
  pre, blockquote, ul {
    page-break-inside: avoid;
  }

  h3 {
      margin-bottom: 0.6em;
  }
}
