---
layout: default
title: John Huddleston, computational biologist
---

<div class="row mt-2">
  <div class="col-4">
    <img src="images/huddlej-headshot.jpg" class="img-thumbnail rounded" alt="John Huddleston" />
  </div>

  <div class="col-8">
    <h1>John Huddleston</h1>

    <ul style="padding-inline-start: 0">
      <li>Computational biologist in <a href="http://bedford.io">Trevor Bedford's lab</a></li>
      <li>PhD candidate in Molecular and Cell Biology at the University of Washington</li>
      <li>Software developer for <a href="http://nextstrain.org">Nextstrain</a></li>
      <li>Educator with Master's degrees in computer science and biology from Western Washington University</li>
    </ul>

    <p class="badge badge-light">
      <a href="http://github.com/huddlej"><img src="images/GitHub-Mark-32px.png" style="width: 20%" alt="@huddlej on GitHub" /> @huddlej</a>
    </p>
  </div>
</div>

<!-- start navigation -->
{% include navigation.html %}
<!-- end navigation -->

<!-- start cards -->
<div class="row row-cols-1">
  {% for post in site.posts %}
  {% include card.html %}
  {% endfor %}
</div>
<!-- end cards -->
