<div class="row mt-2">
  <div class="col-4">
    <img src="images/huddlej-headshot.jpg" class="img-thumbnail rounded" alt="John Huddleston" />
  </div>

  <div class="col-8">
    <h1>John Huddleston</h1>

    <ul style="padding-inline-start: 0">
      <li>Computational biologist in <a href="http://bedford.io">Trevor Bedford's lab</a></li>
      <li><a href="https://mcb-seattle.edu/student-profile/?uid=97">PhD candidate in Molecular and Cell Biology</a> at the University of Washington</li>
      <li><a href="https://projectreporter.nih.gov/project_info_description.cfm?aid=9882872&icde=51450412&ddparam=&ddvalue=&ddsub=&cr=1&csb=default&cs=ASC&pball=">Ruth L. Kirschstein Fellow (F31)</a></li>
      <li>Software developer for <a href="http://nextstrain.org">Nextstrain</a></li>
      <li><a href="https://carpentries.org/instructors/">Certified Carpentries instructor</a></li>
    </ul>

    <p>
      <a class="badge badge-light" href="http://github.com/huddlej"><img src="images/GitHub-Mark-32px.png" style="width: 20%" alt="@huddlej on GitHub" /> @huddlej</a>
      <a class="badge badge-light" href="https://scholar.google.com/citations?user=KCqa_hUAAAAJ"><img src="images/google-scholar.svg" style="width: 18px" alt="Publications on Google Scholar" /> Google Scholar</a>
    </p>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light mt-2 mb-2">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link{% if page.url == "/" %} active{% endif %}" href="/">Home</a>
      <a class="nav-item nav-link{% if page.url == "/resume.html" %} active{% endif %}" href="/resume.html">Resume</a>
    </div>
  </div>
</nav>
